.filtro-layout {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.filtro-layout fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
}

#filtro-layout-botoes {
    margin-top: 15px;
    justify-content: end;
    display: flex;
}

#filtro-layout-campos {
    display: table;
    justify-content: space-between;
}

.filtro-layout-campo {
    display: table;
    float: left;
    margin: 5px 1% 5px 10%;
    width: 38%;
}

.filtro-layout-campos .filtro-layout-campo:nth-of-type(even) {
    margin-right: 10%;
    margin-left: 1%;
}

.filtro-layout-campos .filtro-layout-campo:nth-of-type(odd) {
    margin-left: 10%;
    margin-right: 1%;
}

.filtro-layout-label {
    display: table-cell;
    width: 40%;
}

.filtro-layout-value {
    width: 100%;
}

.hasDatepicker {
    width: 100%;
}
