body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#wrapper {
    height: 92%;
    overflow-y: auto;
}

#footer {
    position: relative;
    height: 8%;
    color: #f8f6f6;
    background-color: #2b3d8a;
    clear: both;
}

.strict {
    width: 80vw;
    margin: 0 auto;
}


#footer .strict {
    min-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

#footer .footer-informacoes {
    bottom: 25%;
    right: 0;
    text-align: center;
    top:5px;
}

#footer-titulo {
    font-family: "Helvetica", sans-serif;
}

.separator {
    height: 1%;
}

#header {
    color: #666666;
    height: 10vh;
    background: #2b3d8a;
}

#header .strict {
    min-height: 100%;
    position: relative;
    display: grid;
}

#header #titulo {
    color: white;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: fit-content;
    align-self: center;
}

#titulo-pagina {
    color: #333;
    letter-spacing: 1px;
    font-size: larger;
    font-weight: normal;
    text-align: right;
    border-bottom: 1px solid #333;
    font-family: "Helvetica", sans-serif;
}

.header-menu-list {
    display: flex;
    justify-content: space-evenly;
}

